h1, h2, h3, {
	margin: 0;
	padding: 0;
	line-height: 1;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	border: 0px none transparent;
}

li {
	list-style: none;
}

/* Clearfix */

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	//background: #191919;
	max-width: 1920px;
	font: normal normal 400 15px/21px 'Open Sans', Arial, sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 36px;
}

h2 {
	font-weight: 300;
	font-size: 22px;
	line-height: 1.25;
}

.menu {
	display: none;
}

.wrapper {
	display: table;
	width: 100%;
}

.column {
	display: table-cell;
	vertical-align: top;
}

.left {
	width: 25%;
	background: #000;
	padding: 20px 0 0 20px;

	background-image: linear-gradient(left , rgba(0,0,0,1) 95%, rgba(142,142,142,0.5) 100%);
	background-image: -o-linear-gradient(left , rgba(0,0,0,1) 95%, rgba(142,142,142,0.5) 100%);
	background-image: -moz-linear-gradient(left , rgba(0,0,0,1) 95%, rgba(142,142,142,0.5) 100%);
	background-image: -webkit-linear-gradient(left , rgba(0,0,0,1) 95%, rgba(142,142,142,0.5) 100%);
	background-image: -ms-linear-gradient(left , rgba(0,0,0,1) 95%, rgba(142,142,142,0.5) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.95, rgba(0,0,0,1)),
		color-stop(1, rgba(142,142,142,0.5))
	);

	h1 {
		margin: 20px 0;
	}
}

.right{
	width: 75%;
	background: #191919;
	padding: 0 40px 0 20px;
}

.footer{
	font-size: 12px;
	margin-left: 20px;

	 p {
		background: url(../images/personen.png) no-repeat left;
		float: left;
		padding: 25px 0 0 35px;
	}
}

.navi {
	ul {
		padding:0;
		margin:20px;
		font-size:14px;

		li {
			list-style: none;
			margin:20px 0 12px 0;

			a {
				color:#fff;
				text-decoration:none;
				font-weight: 300;

				&.all {			
					background: url("../images/alle.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #9b9b9b;
					}
				}
				&.music {			
					background: url("../images/musikmarkt.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #78bbb3;
					}
				}
				&.social {			
					background: url("../images/socialmedia.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #46bde9;
					}
				}
				&.bike {			
					background: url("../images/ebike.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #85b800;
					}
				}
				&.car {			
					background: url("../images/automobilmarkt.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #dc6646;
					}
				}
				&.eco {			
					background: url("../images/oekoenergie.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #ee9100;
					}
				}
				&.phone {			
					background: url("../images/smartphone.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #00b0bc;
					}
				}
				&.job {			
					background: url("../images/berufsausbildung.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #f7b183;
					}
				}
				&.paper {			
					background: url("../images/papier.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #38aa33;
					}
				}
				&.health {			
					background: url("../images/gesundheit.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #af5fa2;
					}
				}
				&.youth {			
					background: url("../images/jugend.png") no-repeat left;       
					padding:10px 0 10px 35px;

					&:hover, &.active {			
						color: #9c0700;
					}
				}
			}
		}
	}
}

.content {
	width: 100%;
	padding-top: 90px;
}

.preview {
	width: 33.333%;
	float: left;
	margin-bottom: 20px;

	.container {
		margin: 0 auto;
		max-width: 220px;
		h2 {
			margin: 20px 0;
		}
		p {
			margin: 0;
		}

		.authors {
			font-weight: 700;
			font-size: 20px;
			line-height: 1.2;
		}

		.meta {
			font-weight: 300;
			font-size: 18px;
		}
	}

	a {
		width: 220px;
		height: 220px;
		display: block;
	}
}

.grid {
	width: 66.666%;
	float: left;

	 .project {
		width: 100px;
		height: 100px;
		background: #e3e3e3;
		margin: 0 20px 20px 0;
		float: left;

		a {
			display: block;

			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}