//Font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
// Bourbon-Library einbinden
@import 'external/bourbon/bourbon';

@import 'external/normalize-1.1.3',
		'external/html5boilerplate-4.3.0/part-one';

// Projekt-Styles einbinden
@import 'project/general',
		'project/media-queries/tablet';

@import 'external/html5boilerplate-4.3.0/part-two';